# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/

# Build
build/
dist/
installer/output/

# Logs
*.log

# App data
data/
!data/logo.png
data/backups/

# Local license
local_license.json

# Server files (optional)
app/licenses.json

# System
.DS_Store
Thumbs.db